[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[packages]

django = "==1.11.29"
django-appconf = "==1.0.2"
django-compressor = "==1.5"
factory-boy = "==2.5.2"
pillow = "==8.1.1"
"psycopg2" = "==2.7.3.2"
pytz = "==2015.4"
slackweb = "==1.0.5"
wfastcgi = "==3.0.0"
gunicorn = "*"
django-heroku = "*"


[dev-packages]

