aiohttp==3.9.1
aiosignal==1.3.1
anyio==4.2.0
APScheduler==3.10.4
asgiref==3.5.2
async-timeout==4.0.2
attrs==22.1.0
bradocs4py==1.3.1.0
certifi==2023.11.17
chardet==5.0.0
charset-normalizer==3.3.2
cpf==2.1
distlib==0.3.8
dj-database-url==1.0.0
Django==4.1.2
django-appconf==1.0.5
django-compressor==4.1
django-discover-runner==1.0
django-heroku==0.3.1
django-role-permissions==3.1.1
factory-boy==2.5.2
filelock==3.13.1
frozenlist==1.4.1
gunicorn==21.2.0
h11==0.14.0
httpcore==1.0.2
httpx==0.25.2
idna==3.4
multidict==6.0.4
packaging==23.2
Pillow==10.1.0
pipenv==2023.11.15
platformdirs==4.1.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
pymsteams==0.2.2
pytz==2022.5
rcssmin==1.1.0
requests==2.31.0
rjsmin==1.2.0
setuptools==69.0.2
six==1.16.0
sniffio==1.3.0
sqlparse==0.4.3
style==1.1.0
typing_extensions==4.4.0
tzdata==2022.5
tzlocal==5.2
update==0.0.1
urllib3==2.1.0
virtualenv==20.25.0
wfastcgi==3.0.0
whitenoise==6.6.0
yarl==1.9.4
