$cor-amarelo: #d7ac46
$cor-rosa-claro: #F4E7CA
$font-padrao: "Raleway", sans-serif
$font-secundaria:'Open Sans', sans-serif



=avatarPequeno
	width: 42px
	height: 42px
	border-radius: 143px


=avatarGrande
	width: 150px
	height: 150px
	border-radius: 143px

=displayInlineBlock
	display:inline-block
	vertical-align:top
	