$amarelo-primario: #d7ac46
$amarelo-secundario: #e6ae3a
$amarelo-terciario: #F4E7CA


$rosa-primario: #dc0028

$laranja-primario: #f57b20
$laranja-secundario: #f79f1a
$laranja-terciario: #f9b616

$font-padrao: "Raleway", sans-serif
$font-secundaria:'Open Sans', sans-serif

=avatarPequeno
	width: 42px
	height: 42px
	border-radius: 143px

=avatarMedio
	width: 70px
	height: 70px
	border-radius: 143px


=avatarGrande
	width: 150px
	height: 150px
	border-radius: 143px

=displayInlineBlock
	display:inline-block
	vertical-align:top

=box-sizing
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box

input
	outline-color: #BA8517
	border: none	

button
	cursor: pointer	


=border-radius($radius) 
	-webkit-border-radius: $radius
	-moz-border-radius: $radius
	-ms-border-radius: $radius
	border-radius: $radius


=box-shadow ($left, $top, $blur, $color) 
	box-shadow: $left $top $blur $color
	-webkit-box-shadow: $left $top $blur $color
	-moz-box-shadow: $left $top $blur $color


=placeholderInputColaborador
	color: rgb(173, 121, 13)
	font: 1rem $font-padrao
	font-weight: 600


=displayFlex
	display: -webkit-box
	display: -moz-box
	display: -ms-flexbox
	display: -webkit-flex
	display: flex
  