@import _mixins

*
	margin: 0
	padding: 0

body
	font-family: $font-padrao

img
	max-width: 100%

p
	font-size: 1rem

.growl
	max-width: 200px
	padding: 15px
	border-radius: 10px
	margin-top: 10px
	margin-right: 10px

.branco
	color: white

.fixo
	position: fixed
	z-index: 99999

.alinhado-ao-topo
	top: 0
	right: 0

.fundo-verde
	background-color: green

.fundo-vermelho
	background-color: #dc0028

.body-login
	background:url(../img/bgLogin.jpg) top center

.body-app
	background-color: $rosa-primario

.invisivel
	display: none

.reconhecer
	margin: 0 auto
	max-width: 300px
	padding: 18px
	border-radius:5px
	margin-top: 193px
.login
	background-color: rgba(255, 255, 255, 0.49)


.login, .reconhecer
	margin: 0 auto
	max-width: 300px
	padding: 18px
	border-radius:5px
	margin-top: 193px

	.logo
		display: block
		margin-bottom: 19px
	label
		display: block
		font-size: 1rem
		color: #616161
		margin: 8px 0
	input
		+box-sizing
		background-color: transparent
		border: none
		border-bottom: 1px solid #9e9e9e
		height: 2rem
		width: 100%
		font-size: 1rem
		margin: 0 0 15px 0
		padding: 0
		transition: all 0.3s
		color: #747474
		outline: none
	button
		background-color: $rosa-secundario
		font-size: 1rem
		font-weight: bold
		text-transform: uppercase
		color: white
		width: 100%
		height: 42px
		+border-radius(3px)
		+box-shadow(1px, 1px, 1px, rgba(28, 18, 16, 0.75))
		border: none

.toolbar
	background-color: $amarelo-secundario
	padding: 8px 0
	margin-bottom: 2em
	position: fixed
	top: 0
	width: 100%
	right: 0
	left: 0
	z-index: 2
	.logoInterna
		vertical-align: top
		display: inline-block
		width: 10%
		cursor: pointer
	.busca
		width: 50%
		display: inline-block
		vertical-align: top
		margin: 0 2em 0 0
		border: 1px solid #F4A400
		input
			background-color: rgba(255, 230, 171, 0.8)
			width: 100%
			color: rgb(173, 121, 13)
			font-size: 1.2rem
			padding: 0.5em
			+box-sizing
		#colaborador::-webkit-input-placeholder
			+placeholderInputColaborador
		#colaborador:-moz-placeholder
			+placeholderInputColaborador
		#colaborador::-moz-placeholder
			+placeholderInputColaborador
		#colaborador:-ms-input-placeholder
			+placeholderInputColaborador
	#linksToolbar
		width: 31%
		+displayInlineBlock
		.menus
			&:focus
				display: block
			.menu-responsivo
				display: none
			.meuPerfil, .sair
				+displayInlineBlock
			.meuPerfil
				cursor: pointer
				width: 80%
				text-align: right
				img
					+displayInlineBlock
					+avatarPequeno
				span
					margin: 0.8em 0.3em
					display: inline-block
					color: white
			.sair
				width: 5%
				cursor: pointer
				color: white
				margin: 0.8em 0.3em

main
	margin-top: 88px

.conteudo
	+box-sizing
	width: 100%
	max-width: 800px
	margin: 0 auto
	padding: 10px

.conteudo-header
	+box-sizing
	width: 100%
	max-width: 1200px
	margin: 0 auto
	padding: 10px	


.feed-reconhecimentos
	margin-top: 2em
	padding: 1.2em

	.fotos
		width: 14%
		+displayInlineBlock
		margin-top: 32px

		.img-apreciador
			+avatarPequeno
			position: absolute
			margin: 2.7rem

		.img-reconhecido
			+avatarMedio
			+border-radius(143px)

	.informacoes
		+displayInlineBlock
		width: 84%
		margin-top: 1rem

		.texto
			display: inline-block
			vertical-align: middle
			font-size: 0.8rem
			margin: 20px

			.apreciador
				+displayInlineBlock
				font-size: 1rem
				color: #A57400
			strong
				cursor: pointer
				font-size: 1.2rem
			.nome
				cursor: pointer
				color: #916806
				font-size: 1rem
			.valor
				display: inline-block
				font-size: 1rem
				color: #916806
				font-weight: bold

			.data
				font-size: 0.7rem
				color: #9197a3
				font-family: $font-secundaria
				margin-top: 0.5em
			p
				font-size: 0.9rem
				color: #000
				margin-bottom: 10px

	.balao-reconhecimento
		position: relative
		background-color: #fff
		border-radius: 10px
		color: #000

		&:after
			content: ''
			position: absolute
			border: 27px solid
			margin-left: -15px 
			top: 38%
			right: 100%
			margin-top: -15px
			display: inline-block
			vertical-align: middle
			width: 0 
			height: 0 

			border-top: 25px solid transparent
			border-bottom: 25px solid transparent 
			border-left: 25px solid transparent 
			border-right: 25px solid #fff 


#perfilColaborador
	display: flex
	align-items: center

	.alterar-foto
		position:relative

		.ion-camera
			font-size: 2em
			color: #fff
			position: absolute
			vertical-align: bottom
			right: 51%
			top: 73%

		.editar input
			display: none

		.editar:active input
			display: block

	.foto-colaborador
		+avatarGrande
		margin: 0 2em 0 0

.informacoes-colaborador
	.nome-colaborador
		display: block
		font-size: 2.2em
	#iconeValoresRecebido
		+displayInlineBlock
		margin: 1.2em 0

#valoresRecebidosComComentarios
	margin: 3em 0
	display: flex
	flex-wrap: wrap
	.min-width
		width: 15%
	.max-width
		width: 40%
	section
		margin: 10px
		width: 30%
		text-align: center
		position: relative
		.icone-valor
			width: 100%
			display: block
			margin: 0 auto
		.foto
			+avatarPequeno
			position: relative
		.valor
			width: 70%
			display: inline-block
		.quantidade-de-reconhecimentos
			display: inline-block
			vertical-align: top
			color: white
			background-color: rgba(137, 51, 140, 0.7)
			font-weight: bold
			font-size: 2em
			min-width: 45px
			min-height: 45px
			+border-radius(145px)
			left: 70%
			position: absolute
		.valor-por-reconhecimento
			+displayInlineBlock
			height: 50px
			width: 83%
			padding-top: 10px
			font-size: 2em
			.nome-do-valor
				font-size: 48%
				
		.reconhecedores
			margin: 10px 0 0 20px
			text-align: center
			width: 70px
			+displayInlineBlock
			span
				display: inline-block
				vertical-align: bottom
				position: absolute
				background-color: $amarelo-secundario
				font-size: 1.5em
				font-weight: bold
				color: black

		.adicionar
			font-size: 1.5em
			float: right
			background-color: $amarelo-secundario
			width: 50px
			height: 50px
			text-align: center

.botao-voltar
	text-decoration: none
	display: block
	margin: 27px 0
	text-align: right
	color: #000			

