@import _mixins

*
	margin: 0
	padding: 0

body
	font-family: $font-padrao

input
	outline-color: #97460b
	border: none

img
	max-width: 100%

p
	font-size: 1rem

.body-login
	background-color: $cor-rosa-claro

.body-app
	background-color: white

.conteudo
	width: 100%
	max-width: 960px
	margin: 0 auto
	padding: 10px
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box


.login
	margin: 17% auto 0
	max-width: 300px
	padding: 18px
	
	.logo
		display: block
		margin-bottom: 19px
	
	label
		display: block
		font-size: 0.8rem
		color: #959595
		margin-bottom: 5px
	
	input
		background-color: transparent
		border: none
		border-bottom: 1px solid #9e9e9e
		height: 2rem
		width: 100%
		font-size: 1rem
		margin: 0 0 15px 0
		padding: 0
		box-shadow: none
		-webkit-box-sizing: content-box
		-moz-box-sizing: content-box
		box-sizing: content-box
		transition: all 0.3s
		color: #747474
		outline: none
	
	button
		font-size: 1rem
		font-weight: bold
		text-transform: uppercase
		color: white
		width: 100%
		height: 42px
		-webkit-border-radius: 3px
		-moz-border-radius: 3px
		border-radius: 3px
		background-color: #dc0028
		-webkit-box-shadow: 1px 1px 1px rgba(28, 18, 16, 0.75)
		-moz-box-shadow: 1px 1px 1px rgba(28, 18, 16, 0.75)
		box-shadow: 1px 1px 1px rgba(28, 18, 16, 0.75)
		border: none
		cursor: pointer

.toolbar
	background-color: #fac74f
	padding: 8px 0
	margin-bottom: 2em
	position:fixed
	top: 0
	width:100%
	right:0
	left: 0
	z-index:2
	
	.logoInterna
		vertical-align: top
		display: inline-block
		width: 10%
		cursor: pointer
	
	.busca
		width: 50%
		display: inline-block
		vertical-align: top
		margin: 0 2em 0 0
	
		input
			background-color: rgba(255, 230, 171, 0.8)
			width: 100%
			color: white
			font-size: 1.2rem
			padding: 0.5em
	
		#colaborador::-webkit-input-placeholder
			color: white
			font: 1rem $font-padrao
			font-weight: bold
	
		#colaborador:-moz-placeholder
			color: white
			font: 1rem $font-padrao
			font-weight: bold
		
		#colaborador::-moz-placeholder
			color: white
			font: 1rem $font-padrao
			font-weight: bold
		
		#colaborador:-ms-input-placeholder
			color: white
			font: 1rem $font-padrao
			font-weight: bold
	
	#linksToolbar
		width: 31%
		+displayInlineBlock

		.meuPerfil
			display: inline-block
			cursor: pointer
			vertical-align: top
			width: 80%

			img
				+displayInlineBlock
				+avatarPequeno
		
			span
				margin: 0.8em 0.3em
				display: inline-block
				color: white
		
		.sair
			width: 5%
			cursor: pointer
			color: white
			display: inline-block
			vertical-align: top
			margin: 0.8em 0.3em

.invisivel
	display: none

.growl
	width: 250px
	margin-top: 10px
	left: 73%
	z-index: 100

.flutuando
	position: absolute

.fixo
	position: fixed

.alinhado-ao-topo
	top: 0

.branco
	color: white

.fundo-verde
	background-color: green

.fundo-vermelho
	background-color: red


#feedReconhecimentos
	margin-top: 2em
	background-color: #fafadd
	padding: 1.2em

	.dados-colaborador
		img
			width: 50px
			height: 50px
			border-radius: 143px
			+displayInlineBlock
			margin: 0 0.8em 0 0
		
		.informacoes
			+displayInlineBlock
			width: 87%

			strong
				cursor: pointer
				font-size: 1.2rem

			.nome
				cursor: pointer

			.valor
				display: inline-block
				font-size: 0.9rem

			.data
				font-family: $font-secundaria
				font-size: 0.7rem

	p
		margin-top: 0.6em
		font-size: 0.9rem

.foto-colaborador
	+displayInlineBlock
	+avatarGrande
	margin: 0 2em 0 0

.informacoes-colaborador
	+displayInlineBlock

	.nome-colaborador
		display: block
		font-size: 3em

	#iconeValoresRecebido
		+displayInlineBlock
		margin: 1.2em 0
		
#valoresRecebidosComComentarios
	display: block
	margin: 3em 0

	section
		margin-top: 20px

		.icone-valor
			width: 80px

		.foto
			+avatarPequeno
			position: relative

		.valor
			display: inline-block
			height: 50px
			width: 90%
			vertical-align: top
			padding-top: 10px
			font-size: 2em

		.reconhecedores
			margin: 10px 0 0 20px
			text-align: center
			width: 70px
			display: inline-block

			span
				display: inline-block
				vertical-align: bottom
				position: absolute
				background-color: $cor-rosa-claro
				font-size: 1.5em
				font-weight: bold
				color: black

		.adicionar
			font-size: 1.5em
			float: right
			display: inline
			background-color: $cor-rosa-claro
			width: 50px
			height: 50px
			text-align: center
