.filtro__data__input {
    background: none;
    border: black 1px solid;
    border-radius: 5px;
    margin-right: 16px;
    padding: 10px;
    min-width: 200px;
}

.filtro__data__botao {
    background: #2C006A;
    border: 1px solid #2C006A;
    border-radius: 5px;
    color: white;
    padding: 10px;
    font-size: 16px;
    font-family: Campton;
}

.filtro__data label{
    font-size: 16px;
    font-family: Campton;
}