.falha-data-inicial-menor, .falha-data-final-menor, .falha-data-final-menor-alterada, .falha-data-final-menor-atual{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px; 
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    display: none;
    width: 80%;
    margin: 25px auto;
    text-align: center;
}
.historico__ciclo--titulo {
font-size: 1.2rem;
cursor: pointer;
        margin: 0;
}
.nome__autor{
color: black;
}
.cabecalho__historico {
display: flex;
width: 80%;
margin: 0 auto;
text-align: left;
}

.seta__historico {
cursor: pointer;
}

.container__historico {
position: relative;
width: 70%;
margin: 0 auto;
display: flex;
flex-direction: column;
align-items: center;
}

.lista__historico {
list-style: none;
width: 80%;
margin: 0 auto;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
animation-delay: 5s;
animation: aparecerLista 1s forwards;
}

.lista__historico--item {
background-color: white;
margin: 0 16px;
padding: 8px 32px;
border-radius: 12px;
display: block;
width: 400px;
}

.datas_modificadas{
display: flex;
flex-direction: row;
word-break: normal;
word-wrap: normal;
}

.data__inicio{
margin-right: 60px;
}
.motivo_alteracao_log{
word-wrap: break-word;
}




.opcoes {
width: 40%;
margin: 16px auto;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}

.opcao__secao {
border-radius: 50%;
position: relative;
width: 12px;
height: 12px;
margin: 0 4px;
cursor: pointer;
}

.opcao__secao input:checked + span {
background-color: purple;
}

.opcao__secao--span {
background-color: gray;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
width: 100%;
height: 100%;
border-radius: 50%;
transition: 0.6s;
}

.opcao__secao--input {
display: none;
}

.secao {
display: none;
}

.secaoSelecionada {
animation: aparecerSecao 2s forwards;
display: flex;
}

.botao__opcao--historicoEsquerda {
border: 0;
background-color: purple;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 40px;
height: 40px;
border-radius: 50%;
position: absolute;
top: 30%;
left: 16px;
cursor: pointer;
}

.botao__opcao--historicoDireita {
border: 0;
background-color: purple;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 40px;
height: 40px;
border-radius: 50%;
position: absolute;
top: 30%;
right: 16px;
cursor: pointer;
}

@keyframes aparecerSecao {
0% {
    opacity: 0;
    transform: translateX(200px);
}

30% {
    opacity: 1;
    transform: translateX(0);
}

80% {
    opacity: 1;
    transform: translateX(0);
}

100% {
    opacity: 1;
    transform: translateX(0);
}
}

@keyframes girarSetaBaixo {
0% {
    transform: rotate(0);
}

50% {
    transform: rotate(90deg);
}

100% {
    transform: rotate(90deg);
}
}

@keyframes girarSetaCima {
0% {
    transform: rotate(90deg);
}

50% {
    transform: rotate(0deg);
}

100% {
    transform: rotate(0deg);
}
}

@keyframes desaparecerSecao {
0% {
    opacity: 1;
    transform: translate(0);
}

30% {
    opacity: 1;
    transform: translateX(0);
}

80% {
    opacity: 1;
    transform: translateX(200);
}

100% {
    opacity: 0;
    transform: translateX(200);
}
}