input {
  outline-color: none;
  border: none; }
  input:focus {
    outline-color: none; }

button {
  cursor: pointer; }

@font-face {
  font-family: 'Campton-SemiBold';
  src: local("Campton-SemiBold"), url("http://www.digix.com.br/wp-content/themes/digix/fonts/Campton-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: "Campton-SemiBold";
  src: url("http://www.digix.com.br/wp-content/themes/digix/fonts/Campton-SemiBold.ttf"); }

.body-login {
  background: url(../img/fundo.jpg) top center;
  width: 100%;
  position: fixed;
  background-size: 100%;
  height: 100%; }
  .body-login .conteudo-login {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    height: 100%; }

.chamada {
  font-size: 15px;
  color: #fff;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  font-weight: bold;
  text-align: center; }
  .chamada h1 {
    text-align: center;
    font-family: 'Campton-SemiBold'; }

.logo {
  position: absolute;
  height: 63px;
  top: 2%;
  left: 3%; }

.login {
  min-width: 310px;
  padding: 12px 35px 20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px; }
  .login .campos-cor {
    background-color: #fff;
    padding: 15px 15px 0;
    margin: 15px 0;
    overflow: hidden;
    border-radius: 5px; }
  .login .campos-login {
    position: relative; }
  .login label {
    display: block;
    font-size: 15px;
    color: #000;
    margin: 8px 0;
    pointer-events: none;
    top: -3px;
    position: absolute; }
  .login input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    height: 2rem;
    width: 100%;
    font-size: 15px;
    margin: 10px 0 15px 0;
    padding: 0;
    transition: all 0.3s;
    color: #000;
    outline: none; }
  .login input:focus {
    outline: none; }
  .login input:focus ~ label, .login input:valid ~ label {
    top: -23px;
    font-size: 13px;
    color: #000;
    padding: 10px 0; }
  .login button {
    background-color: #FA4F56;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    width: 100%;
    height: 42px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(28, 18, 16, 0.75);
    -webkit-box-shadow: 1px 1px 1px rgba(28, 18, 16, 0.75);
    -moz-box-shadow: 1px 1px 1px rgba(28, 18, 16, 0.75);
    border: none;
    outline: none; }
    .login button:hover {
      background-color: #FA4F56; }

.logo-digitho {
  margin: 25px auto;
  display: block; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoibG9naW4uY3NzIiwic291cmNlcyI6WyJsb2dpbi5zYXNzIiwiX21peGlucy5zYXNzIl0sInNvdXJjZXNDb250ZW50IjpbIkBpbXBvcnQgXCJfbWl4aW5zXCI7XG5cbkBmb250LWZhY2Uge1xuXHRmb250LWZhbWlseTogXCJDYW1wdG9uLVNlbWlCb2xkXCI7XG5cdHNyYzogdXJsKCdodHRwOi8vd3d3LmRpZ2l4LmNvbS5ici93cC1jb250ZW50L3RoZW1lcy9kaWdpeC9mb250cy9DYW1wdG9uLVNlbWlCb2xkLnR0ZicpOyB9XG5cblxuXG4uYm9keS1sb2dpbiB7XG5cdGJhY2tncm91bmQ6dXJsKC4uL2ltZy9mdW5kby5qcGcpIHRvcCBjZW50ZXIge31cblx0d2lkdGg6IDEwMCU7XG5cdHBvc2l0aW9uOiBmaXhlZDtcblx0YmFja2dyb3VuZC1zaXplOiAxMDAlO1xuXHRoZWlnaHQ6IDEwMCU7XG5cblx0LmNvbnRldWRvLWxvZ2luIHtcblx0XHRkaXNwbGF5OiBmbGV4O1xuXHRcdGRpc3BsYXk6IC13ZWJraXQtZmxleDtcblx0XHRqdXN0aWZ5LWNvbnRlbnQ6IGNlbnRlcjtcblx0XHRhbGlnbi1pdGVtczogY2VudGVyO1xuXHRcdGhlaWdodDogMTAwJTsgfSB9XG5cbi5jaGFtYWRhIHtcblx0Zm9udC1zaXplOiAxNXB4O1xuXHRjb2xvcjogI2ZmZjtcblx0dGV4dC1zaGFkb3c6IDAgMXB4IDAgcmdiYSgyNTUsMjU1LDI1NSwuMSk7XG5cdGZvbnQtd2VpZ2h0OiBib2xkO1xuXHR0ZXh0LWFsaWduOiBjZW50ZXI7XG5cblx0aDEge1xuXHRcdHRleHQtYWxpZ246IGNlbnRlcjtcblx0XHRmb250LWZhbWlseTogJ0NhbXB0b24tU2VtaUJvbGQnOyB9IH1cblxuLmxvZ28ge1xuXHRwb3NpdGlvbjogYWJzb2x1dGU7XG5cdGhlaWdodDogNjNweDtcblx0dG9wOiAyJTtcblx0bGVmdDogMyU7IH1cblxuLmxvZ2luIHtcblx0bWluLXdpZHRoOiAzMTBweDtcblx0cGFkZGluZzogMTJweCAzNXB4IDIwcHg7XG5cdEBpbmNsdWRlIGJvcmRlci1yYWRpdXMoOHB4KTtcblxuXHQuY2FtcG9zLWNvciB7XG5cdFx0YmFja2dyb3VuZC1jb2xvcjogI2ZmZjtcblx0XHRwYWRkaW5nOiAxNXB4IDE1cHggMDtcblx0XHRtYXJnaW46IDE1cHggMDtcblx0XHRvdmVyZmxvdzogaGlkZGVuO1xuXHRcdGJvcmRlci1yYWRpdXM6IDVweDsgfVxuXG5cdC5jYW1wb3MtbG9naW4ge1xuXHRcdHBvc2l0aW9uOiByZWxhdGl2ZTsgfVxuXG5cdGxhYmVsIHtcblx0XHRkaXNwbGF5OiBibG9jaztcblx0XHRmb250LXNpemU6IDE1cHg7XG5cdFx0Y29sb3I6ICMwMDA7XG5cdFx0bWFyZ2luOiA4cHggMDtcblx0XHRwb2ludGVyLWV2ZW50czogbm9uZTtcblx0XHR0b3A6IC0zcHg7XG5cdFx0cG9zaXRpb246IGFic29sdXRlOyB9XG5cblx0aW5wdXQge1xuXHRcdEBpbmNsdWRlIGJveC1zaXppbmc7XG5cdFx0YmFja2dyb3VuZC1jb2xvcjogdHJhbnNwYXJlbnQ7XG5cdFx0Ym9yZGVyOiBub25lO1xuXHRcdGhlaWdodDogMnJlbTtcblx0XHR3aWR0aDogMTAwJTtcblx0XHRmb250LXNpemU6IDE1cHg7XG5cdFx0bWFyZ2luOiAxMHB4IDAgMTVweCAwO1xuXHRcdHBhZGRpbmc6IDA7XG5cdFx0dHJhbnNpdGlvbjogYWxsIDAuM3M7XG5cdFx0Y29sb3I6ICMwMDA7XG5cdFx0b3V0bGluZTogbm9uZTsgfVxuXG5cdGlucHV0OmZvY3VzIHtcblx0XHRvdXRsaW5lOiBub25lOyB9XG5cblx0aW5wdXQ6Zm9jdXMgfiBsYWJlbCwgaW5wdXQ6dmFsaWQgfmxhYmVsIHtcblx0XHR0b3A6IC0yM3B4O1xuXHRcdGZvbnQtc2l6ZTogMTNweDtcblx0XHRjb2xvcjogIzAwMDtcblx0XHRwYWRkaW5nOiAxMHB4IDA7IH1cblxuXG5cdGJ1dHRvbiB7XG5cdFx0YmFja2dyb3VuZC1jb2xvcjogI0ZBNEY1Njtcblx0XHRmb250LXNpemU6IDFyZW07XG5cdFx0Zm9udC13ZWlnaHQ6IGJvbGQ7XG5cdFx0dGV4dC10cmFuc2Zvcm06IHVwcGVyY2FzZTtcblx0XHRjb2xvcjogd2hpdGU7XG5cdFx0d2lkdGg6IDEwMCU7XG5cdFx0aGVpZ2h0OiA0MnB4O1xuXHRcdEBpbmNsdWRlIGJvcmRlci1yYWRpdXMoM3B4KTtcblx0XHRAaW5jbHVkZSBib3gtc2hhZG93KDFweCwgMXB4LCAxcHgsIHJnYmEoMjgsIDE4LCAxNiwgMC43NSkpO1xuXHRcdGJvcmRlcjogbm9uZTtcblx0XHRvdXRsaW5lOiBub25lO1xuXG5cdFx0Jjpob3ZlciB7XG5cdFx0XHRiYWNrZ3JvdW5kLWNvbG9yOiAjRkE0RjU2OyB9IH0gfVxuXG4ubG9nby1kaWdpdGhvIHtcblx0bWFyZ2luOiAyNXB4IGF1dG87XG5cdGRpc3BsYXk6IGJsb2NrOyB9XG4iLCLvu78kYW1hcmVsby1wcmltYXJpbzogI2Q3YWM0NjtcbiRhbWFyZWxvLXNlY3VuZGFyaW86ICNlNmFlM2E7XG4kYW1hcmVsby10ZXJjaWFyaW86ICNmNGU3Y2E7XG5cbiRyb3NhLXByaW1hcmlvOiAjZjhmM2YwO1xuJHJvc2Etc2VjdW5kYXJpbzogI2Y2MDAzOTtcbiRyb3NhLXRlcmNpYXJpbzogI2Y2MDAzOTtcblxuJGxhcmFuamEtcHJpbWFyaW86ICNmNTdiMjA7XG4kbGFyYW5qYS1zZWN1bmRhcmlvOiAjZjc5ZjFhO1xuJGxhcmFuamEtdGVyY2lhcmlvOiAjQzEwMjJFO1xuXG4kZm9udC1wYWRyYW86IFwiUmFsZXdheVwiLCBzYW5zLXNlcmlmO1xuJGZvbnQtc2VjdW5kYXJpYTogXCJPcGVuIFNhbnNcIiwgc2Fucy1zZXJpZjtcblxuQG1peGluIGF2YXRhclBlcXVlbm8ge1xuXHR3aWR0aDogNDJweDtcblx0aGVpZ2h0OiA0MnB4O1xuXHRib3JkZXItcmFkaXVzOiAxNDNweDsgfVxuXG5AbWl4aW4gYXZhdGFyTWVkaW8ge1xuXHR3aWR0aDogMTAwcHg7XG5cdGhlaWdodDogMTAwcHg7XG5cdGJvcmRlci1yYWRpdXM6IDE0M3B4OyB9XG5cbkBtaXhpbiBhdmF0YXJHcmFuZGUge1xuXHR3aWR0aDogMTUwcHg7XG5cdGhlaWdodDogMTUwcHg7XG5cdGJvcmRlci1yYWRpdXM6IDE0M3B4OyB9XG5cbkBtaXhpbiBkaXNwbGF5RmxleCB7XG5cdGRpc3BsYXk6IC13ZWJraXQtYm94O1xuXHRkaXNwbGF5OiAtbW96LWJveDtcblx0ZGlzcGxheTogLW1zLWZsZXhib3g7XG5cdGRpc3BsYXk6IC13ZWJraXQtZmxleDtcblx0ZGlzcGxheTogZmxleDsgfVxuXG5AbWl4aW4gZGlzcGxheUlubGluZUJsb2NrIHtcblx0ZGlzcGxheTogaW5saW5lLWJsb2NrO1xuXHR2ZXJ0aWNhbC1hbGlnbjogdG9wOyB9XG5cbkBtaXhpbiBib3gtc2l6aW5nIHtcblx0LXdlYmtpdC1ib3gtc2l6aW5nOiBib3JkZXItYm94O1xuXHQtbW96LWJveC1zaXppbmc6IGJvcmRlci1ib3g7XG5cdGJveC1zaXppbmc6IGJvcmRlci1ib3g7IH1cblxuaW5wdXQge1xuXHRvdXRsaW5lLWNvbG9yOiBub25lO1xuXHRib3JkZXI6IG5vbmU7XG5cblx0Jjpmb2N1cyB7XG5cdFx0b3V0bGluZS1jb2xvcjogbm9uZTsgfSB9XG5cbmJ1dHRvbiB7XG5cdGN1cnNvcjogcG9pbnRlcjsgfVxuXG5AbWl4aW4gYm9yZGVyLXJhZGl1cygkcmFkaXVzKSB7XG5cdC13ZWJraXQtYm9yZGVyLXJhZGl1czogJHJhZGl1cztcblx0LW1vei1ib3JkZXItcmFkaXVzOiAkcmFkaXVzO1xuXHQtbXMtYm9yZGVyLXJhZGl1czogJHJhZGl1cztcblx0Ym9yZGVyLXJhZGl1czogJHJhZGl1czsgfVxuXG5AbWl4aW4gYm94LXNoYWRvdygkbGVmdCwgJHRvcCwgJGJsdXIsICRjb2xvcikge1xuXHRib3gtc2hhZG93OiAkbGVmdCAkdG9wICRibHVyICRjb2xvcjtcblx0LXdlYmtpdC1ib3gtc2hhZG93OiAkbGVmdCAkdG9wICRibHVyICRjb2xvcjtcblx0LW1vei1ib3gtc2hhZG93OiAkbGVmdCAkdG9wICRibHVyICRjb2xvcjsgfVxuXG5AbWl4aW4gcGxhY2Vob2xkZXJJbnB1dENvbGFib3JhZG9yIHtcblx0Y29sb3I6IHJnYigxNzMsIDEyMSwgMTMpO1xuXHRmb250OiAxcmVtICRmb250LXBhZHJhbztcblx0Zm9udC13ZWlnaHQ6IDYwMDsgfVxuXG5cblxuQGZvbnQtZmFjZSB7XG4gIGZvbnQtZmFtaWx5OiAnQ2FtcHRvbi1TZW1pQm9sZCc7XG4gIHNyYzogbG9jYWwoJ0NhbXB0b24tU2VtaUJvbGQnKSx1cmwoJ2h0dHA6Ly93d3cuZGlnaXguY29tLmJyL3dwLWNvbnRlbnQvdGhlbWVzL2RpZ2l4L2ZvbnRzL0NhbXB0b24tU2VtaUJvbGQudHRmJykgZm9ybWF0KCd0cnVldHlwZScpOyB9XG4iXSwibWFwcGluZ3MiOiJBQzhDQSxBQUFBLEtBQUssQ0FBQztFQUNMLGFBQWEsRUFBRSxJQUFLO0VBQ3BCLE1BQU0sRUFBRSxJQUFLLEdBR2E7RUFMM0IsQUFBQSxLQUFLLEFBSUgsTUFBTSxDQUFDO0lBQ1AsYUFBYSxFQUFFLElBQUssR0FBRzs7QUFFekIsQUFBQSxNQUFNLENBQUM7RUFDTixNQUFNLEVBQUUsT0FBUSxHQUFHOztBQW9CcEIsVUFBVTtFQUNSLFdBQVcsRUFBRSxrQkFBbUI7RUFDaEMsR0FBRyxFQUFFLHlCQUFLLEVBQXFCLGlGQUFHLENBQStFLGtCQUFNOztBRDFFekgsVUFBVTtFQUNULFdBQVcsRUFBRSxrQkFBbUI7RUFDaEMsR0FBRyxFQUFFLGlGQUFHOztBQUlULEFBQUEsV0FBVyxDQUFDO0VBQ1gsVUFBVSxFQUFxQixxQkFBQyxDQUFDLEdBQUcsQ0FBQyxNQUFNO0VBQzNDLEtBQUssRUFBRSxJQUFLO0VBQ1osUUFBUSxFQUFFLEtBQU07RUFDaEIsZUFBZSxFQUFFLElBQUs7RUFDdEIsTUFBTSxFQUFFLElBQUssR0FPTTtFQVpwQixBQU9DLFdBUFUsQ0FPVixlQUFlLENBQUM7SUFDZixPQUFPLEVBQUUsSUFBSztJQUNkLE9BQU8sRUFBRSxZQUFhO0lBQ3RCLGVBQWUsRUFBRSxNQUFPO0lBQ3hCLFdBQVcsRUFBRSxNQUFPO0lBQ3BCLE1BQU0sRUFBRSxJQUFLLEdBQUc7O0FBRWxCLEFBQUEsUUFBUSxDQUFDO0VBQ1IsU0FBUyxFQUFFLElBQUs7RUFDaEIsS0FBSyxFQUFFLElBQUs7RUFDWixXQUFXLEVBQUUsQ0FBQyxDQUFDLEdBQUcsQ0FBQyxDQUFDLENBQUMsd0JBQUk7RUFDekIsV0FBVyxFQUFFLElBQUs7RUFDbEIsVUFBVSxFQUFFLE1BQU8sR0FJbUI7RUFUdkMsQUFPQyxRQVBPLENBT1AsRUFBRSxDQUFDO0lBQ0YsVUFBVSxFQUFFLE1BQU87SUFDbkIsV0FBVyxFQUFFLGtCQUFtQixHQUFHOztBQUVyQyxBQUFBLEtBQUssQ0FBQztFQUNMLFFBQVEsRUFBRSxRQUFTO0VBQ25CLE1BQU0sRUFBRSxJQUFLO0VBQ2IsR0FBRyxFQUFFLEVBQUc7RUFDUixJQUFJLEVBQUUsRUFBRyxHQUFHOztBQUViLEFBQUEsTUFBTSxDQUFDO0VBQ04sU0FBUyxFQUFFLEtBQU07RUFDakIsT0FBTyxFQUFFLGNBQWU7RUNnQnhCLHFCQUFxQixFRGZFLEdBQUc7RUNnQjFCLGtCQUFrQixFRGhCSyxHQUFHO0VDaUIxQixpQkFBaUIsRURqQk0sR0FBRztFQ2tCMUIsYUFBYSxFRGxCVSxHQUFHLEdBMERTO0VBN0RwQyxBQUtDLE1BTEssQ0FLTCxXQUFXLENBQUM7SUFDWCxnQkFBZ0IsRUFBRSxJQUFLO0lBQ3ZCLE9BQU8sRUFBRSxXQUFZO0lBQ3JCLE1BQU0sRUFBRSxNQUFPO0lBQ2YsUUFBUSxFQUFFLE1BQU87SUFDakIsYUFBYSxFQUFFLEdBQUksR0FBRztFQVZ4QixBQVlDLE1BWkssQ0FZTCxhQUFhLENBQUM7SUFDYixRQUFRLEVBQUUsUUFBUyxHQUFHO0VBYnhCLEFBZUMsTUFmSyxDQWVMLEtBQUssQ0FBQztJQUNMLE9BQU8sRUFBRSxLQUFNO0lBQ2YsU0FBUyxFQUFFLElBQUs7SUFDaEIsS0FBSyxFQUFFLElBQUs7SUFDWixNQUFNLEVBQUUsS0FBTTtJQUNkLGNBQWMsRUFBRSxJQUFLO0lBQ3JCLEdBQUcsRUFBRSxJQUFLO0lBQ1YsUUFBUSxFQUFFLFFBQVMsR0FBRztFQXRCeEIsQUF3QkMsTUF4QkssQ0F3QkwsS0FBSyxDQUFDO0lDckJOLGtCQUFrQixFQUFFLFVBQVc7SUFDL0IsZUFBZSxFQUFFLFVBQVc7SUFDNUIsVUFBVSxFQUFFLFVBQVc7SURxQnRCLGdCQUFnQixFQUFFLFdBQVk7SUFDOUIsTUFBTSxFQUFFLElBQUs7SUFDYixNQUFNLEVBQUUsSUFBSztJQUNiLEtBQUssRUFBRSxJQUFLO0lBQ1osU0FBUyxFQUFFLElBQUs7SUFDaEIsTUFBTSxFQUFFLGFBQWM7SUFDdEIsT0FBTyxFQUFFLENBQUU7SUFDWCxVQUFVLEVBQUUsUUFBUztJQUNyQixLQUFLLEVBQUUsSUFBSztJQUNaLE9BQU8sRUFBRSxJQUFLLEdBQUc7RUFuQ25CLEFBcUNNLE1BckNBLENBcUNMLEtBQUssQUFBQSxNQUFNLENBQUM7SUFDWCxPQUFPLEVBQUUsSUFBSyxHQUFHO0VBdENuQixBQXdDZSxNQXhDVCxDQXdDTCxLQUFLLEFBQUEsTUFBTSxHQUFHLEtBQUssRUF4Q3BCLEFBd0NtQyxNQXhDN0IsQ0F3Q2dCLEtBQUssQUFBQSxNQUFNLEdBQUUsS0FBSyxDQUFDO0lBQ3ZDLEdBQUcsRUFBRSxLQUFNO0lBQ1gsU0FBUyxFQUFFLElBQUs7SUFDaEIsS0FBSyxFQUFFLElBQUs7SUFDWixPQUFPLEVBQUUsTUFBTyxHQUFHO0VBNUNyQixBQStDQyxNQS9DSyxDQStDTCxNQUFNLENBQUM7SUFDTixnQkFBZ0IsRUFBRSxPQUFRO0lBQzFCLFNBQVMsRUFBRSxJQUFLO0lBQ2hCLFdBQVcsRUFBRSxJQUFLO0lBQ2xCLGNBQWMsRUFBRSxTQUFVO0lBQzFCLEtBQUssRUFBRSxLQUFNO0lBQ2IsS0FBSyxFQUFFLElBQUs7SUFDWixNQUFNLEVBQUUsSUFBSztJQ3BDZCxxQkFBcUIsRURxQ0csR0FBRztJQ3BDM0Isa0JBQWtCLEVEb0NNLEdBQUc7SUNuQzNCLGlCQUFpQixFRG1DTyxHQUFHO0lDbEMzQixhQUFhLEVEa0NXLEdBQUc7SUMvQjNCLFVBQVUsRURnQ1csR0FBRyxDQUFFLEdBQUcsQ0FBRSxHQUFHLENBQUUsc0JBQUk7SUMvQnhDLGtCQUFrQixFRCtCRyxHQUFHLENBQUUsR0FBRyxDQUFFLEdBQUcsQ0FBRSxzQkFBSTtJQzlCeEMsZUFBZSxFRDhCTSxHQUFHLENBQUUsR0FBRyxDQUFFLEdBQUcsQ0FBRSxzQkFBSTtJQUN2QyxNQUFNLEVBQUUsSUFBSztJQUNiLE9BQU8sRUFBRSxJQUFLLEdBR2tCO0lBN0RsQyxBQStDQyxNQS9DSyxDQStDTCxNQUFNLEFBYUosTUFBTSxDQUFDO01BQ1AsZ0JBQWdCLEVBQUUsT0FBUSxHQUFHOztBQUVoQyxBQUFBLGFBQWEsQ0FBQztFQUNiLE1BQU0sRUFBRSxTQUFVO0VBQ2xCLE9BQU8sRUFBRSxLQUFNLEdBQUciLCJuYW1lcyI6W119 */
