@media all and (max-width: 480px){
	body {
		font-family: 'Raleway', sans-serif;
	}

	img {
	   max-width: 100%;
	}

	input{
		outline-color: #97460b;
	}

	.conteudo {
		width: 100%;
		max-width: 480px;
		margin: 0 auto;
		padding: 10px;
		-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	   box-sizing: border-box;
	}

	.logoInterna{
		display: none !important;
	}

	.busca{
		width: 84% !important ;
		display: inline-block;
		vertical-align: top;
		margin: 0 !important;

	}	
	
	#linksToolbar{
		width: 13% !important;
		top: 17px;
		right: 8px;
	}

	.menu-responsivo{
        display: block !important;  
        background: url(../img/icon-menu.png);
        width: 42px;
        height: 42px;  
    }
    #linksToolbar .menus.aberto .item {
        display: block;
        position: absolute;
        width: 100%;
		left: 0;
		top: 77px;
    }
    
    #linksToolbar .item {
        display: none;
        background-color: #E6AE3A;
    }
        
    #linksToolbar .item .itens{
        display:block !important;
    }



	.foto-colaborador{
		width: 80px !important;
  		height: 80px !important;
	}





















}

@media all and (max-width: 632){
		
	#linksToolbar{
		 width: 14% !important;
	}

	.menu-responsivo{
        display: block !important;  
        background: url(../img/icon-menu.png);
        width: 42px;
        height: 42px;  
    }
    #linksToolbar .menus.aberto .item {
        display: block;
        position: absolute;
        width: 80%;
		left: 20%;
		top: 0;
    }
    
    #linksToolbar .item {
        display: none;
        background-color: #dc0028;
    }
        
    #linksToolbar .item .itens{
        display:block !important;
    }

}