@media (max-width: 480px){
	body {
		font-family: 'Raleway', sans-serif;
	}

	img {
	   max-width: 100%;
	}

	input{
		outline-color: #97460b;
	}

	.conteudo {
		width: 100%;
		max-width: 480px;
		margin: 0 auto;
		padding: 10px;
		-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	   box-sizing: border-box;
	}

	.logoInterna{
		display: none !important;
	}

	.busca{
		width: 76% !important ;
		display: inline-block;
		vertical-align: top;
		margin: 0 2em 0 0;

	}	

	.meuPerfil 

	
}

@media screen and (max-width: 767px) {
  header .control-nav {
    position: absolute;
    right: 20px;
    top: 20px;
    display: block;
    width: 30px;
    padding: 5px 0;
    border: solid #333;
    border-width: 3px 0;
    z-index: 2;
    cursor: pointer;
  }
 
  header .control-nav:before {
    content: "";
    display: block;
    height: 3px;
    background: #333;
  }
 
  header .control-nav-close {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: 1;
    background: rgba(0,0,0,0.4);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
 
  header nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    border-left: 1px solid #ccc;
    background: #fff;
    overflow-x: auto;
    z-index: 2;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
}


#control-nav:checked ~ .control-nav-close {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
 
#control-nav:checked ~ nav {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}