@import _mixins
.sidebar
	width: 13%
	+displayInlineBlock
	position: fixed
	top: 0
	height: 100%
	background-color: #F3EAD4

	.logo-interna
		text-align: center
		margin: 15px 0 0

		img
			height: 45px


.valores-digitho
<<<<<<< HEAD:static/css/valores.sass
	display: block
	margin: 25px auto
	width: 59%
=======
	position: relative
	width: 100%
	margin: 34px 0 0 
>>>>>>> 5a71144b4fc01eb8aa1eeb60c1f92db7ffd41298:static/css/sidebar.sass
	
	h2
		font-size: 23px
		text-align: center
		margin: 18px 0

	ul
		width: 42%
		margin: 0 auto


		li
			padding: 4px
			list-style: none
<<<<<<< HEAD:static/css/valores.sass
			width: 100%
=======
>>>>>>> 5a71144b4fc01eb8aa1eeb60c1f92db7ffd41298:static/css/sidebar.sass

			img
				+displayInlineBlock
				width: 100%

			.descricao
				display: none
				color: #fff
				font-size: 18px
				line-height: 28px
				padding: 10px
				width: 71%
				
			&:hover div
				display: block
				position: absolute
				width: 98%
				left: 0
				border-radius: 10px
				margin-top: 10px
				

.alegria	
	margin-top: 10px
	background-color: #EF951E

.colaboracao	
	margin-top: 10px
	background-color: #006386

.excelencia	
	margin-top: 10px
	background-color: #4B3A8E

.inquietude	
	margin-top: 10px
	background-color: #A73950

.responsabilidade	
	margin-top: 10px
	background-color: #805481

.resultado	
	margin-top: 10px
	background-color: #0094C9

.transparencia	
	margin-top: 10px
	background-color: #0E9962

