@import _mixins

.valores-digitho
	margin-bottom: 40px
	
	h2
		font-size: 15px
		text-align: center
		margin: 10px 0

	ul
		position: relative

		li
			padding: 4px
			list-style: none
			display: inline-block
			vertical-align: top
			width: 13%

			img
				+displayInlineBlock

			.descricao
				display: none
				color: #fff
				font-size: 18px
				line-height: 28px
				padding: 10px
				width: 71%
				
			&:hover
				background-color: red

			&:hover div
				display: block
				position: absolute
				width: 100%
				left: 0

.alegria	
	margin-top: 10px
	background-color: #EF951E

.colaboracao	
	margin-top: 10px
	background-color: #006386

.excelencia	
	margin-top: 10px
	background-color: #4B3A8E

.inquietude	
	margin-top: 10px
	background-color: #A73950

.responsabilidade	
	margin-top: 10px
	background-color: #805481

.resultado	
	margin-top: 10px
	background-color: #0094C9

.transparencia	
	margin-top: 10px
	background-color: #0E9962