<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Login do Valorômetro</title>
</head>
<body>
	<form action="/login/logar/", method="POST">
		{% csrf_token %}
		CPF: <input type="text" name="cpf" id="cpf"/>
		Data de nascimento: <input type="text" name="data_de_nascimento" id="data_de_nascimento" />
		<input type="submit" value="Entrar" />
	</form>
</body>
</html>