<div class="conteudo">
	<form class="login">
		<img class="logo" src="static/img/logo.png" alt="Aprecie" />
		<p>Conte as pessoas o quanto as aprecia</p>

		<div class="campos-login">
			<input type="text" id="cpf" class="input-label-flutuante" required/>
			<label for="cpf">Me diga, qual é o seu CPF?</label>
		</div>

		<div class="campos-login">
			<input type="text" id="dataDeNascimento" class="input-label-flutuante" required/>
			<label for="dataDeNascimento">Data de nascimento</label>
		</div>

		<button data-js="autenticar" type="button">LOGIN</button>
	</form>
</div>

<img class="logo-digitho" src="static/img/logo-digitho-branca.png" alt="Aprecie" />
