<div class="conteudo">
	<form class="login">
		<img class="logo" src="static/img/logo.png" alt="Aprecie" />
		<p>Diga as pessoas, o quanto as aprecia</p>

		<label for="cpf">Me diga, qual é o seu CPF?</label>
		<input type="text" id="cpf" />

		<label for="dataDeNascimento">e o dia do seu nascimento?</label>
		<input type="text" id="dataDeNascimento" />

		<button data-js="autenticar" type="button">LOGIN</button>
	</form>
</div>

<img class="logo-digitho" src="static/img/logo-digitho-branca.png" alt="Aprecie" />
