<div class="conteudo">
	<h2>Últimos reconhecimentos</h2>

	{{#.}}
	<article id="feedReconhecimentos">
		<header class="dados-colaborador">
			<img src="{{foto this.foto_do_reconhecido}}" alt="" width="42" />			
			<div class="informacoes">
				<strong data-id="{{this.id_do_reconhecido}}" data-js="ir-ao-perfil" class="nome">{{this.nome_do_reconhecido}}</strong>
				<div class="valor"> - Recebeu um valor em <span>{{this.valor}}</span></div>
				<div class="data">{{this.data}}</div>
			</div>	
		</header>

		<p>
			{{this.justificativa}}
		</p>
	</article>
	{{else}}
	<article>
		<p>
			Não houveram reconhecimentos até o momento.
		</p>
	</article>
	{{/.}}
</div>