<div class="conteudo valores-digitho">
	<h2>Já conhece os valores da DigithoBrasil? Lê ai</h2>
	
	<ul>
		<li class="valores-itens">
			<img src="static/img/alegria.png" alt="">
			<div class="descricao alegria">
				Gostamos do que fazemos e como fazemos;
				Buscamos proporcionar bem star e sensacao de plenitude as pessoas;
				Contagiamos a todos com nosso entusiasmo e jeito de ser;	
			</div>
		</li>

		<li class="valores-itens">
			<img src="static/img/colaboracao.png" alt="">
			<div class="descricao colaboracao">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, ut numquam possimus?</div>
		</li>
		<li class="valores-itens">
			<img src="static/img/excelencia.png" alt="">
			<div class="descricao excelencia">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, ut numquam possimus?</div>
		</li>
		<li class="valores-itens">
			<img src="static/img/inquietude.png" alt="">
			<div class="descricao inquietude">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, ut numquam possimus?</div>
		</li>
		<li class="valores-itens">
			<img src="static/img/responsabilidade.png" alt="">
			<div class="descricao responsabilidade">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, ut numquam possimus?</div>
		</li>
		<li class="valores-itens">
			<img src="static/img/resultado.png" alt="">
			<div class="descricao resultado">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, ut numquam possimus?</div>
		</li>
		<li class="valores-itens">
			<img src="static/img/transparencia.png" alt="">
			<div class="descricao transparencia">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, ut numquam possimus?</div>
		</li>
	</ul>
</div>

<div class="conteudo feed-principal">
	
	<h2>Quem apreciou quem, aprecie você também</h2>

	<div class="por-data">
		<div class="dia">Hoje</div>		
		<span></span>
	</div>

	{{#.}}
	<section class="feed-reconhecimentos caixa-feed">	
		<div class="data">{{this.data}}</div>

		<span class="fotos">
			<img class="img-apreciador" src="{{foto this.foto_do_reconhecedor}}" alt="" />
			<img class="img-reconhecido" src="{{foto this.foto_do_reconhecido}}" alt="" />
		</span>		

		<div class="informacoes">			
			<div class="dados-apreciados">
				<strong data-id="{{this.id_do_reconhecedor}}" data-js="ir-ao-perfil" class="apreciador">{{this.nome_do_reconhecedor}}</strong>
				<span> apreciou </span>
				<strong data-id="{{this.id_do_reconhecido}}" data-js="ir-ao-perfil" class="nome">{{this.nome_do_reconhecido}}</strong> em <div class="valor">{{this.valor}}</div>
				<p>
					{{this.justificativa}}
				</p>
			</div>	
		</div>	
			
	</section>
	{{else}}
	<article>
		<p>
			Não houveram reconhecimentos até o momento.
		</p>
	</article>
	{{/.}}
</div>
	