<input data-js="alterar-foto" type="file" class="invisivel" />
<div class="conteudo">
	<input type="hidden" id="reconhecidoId" value="{{this.id}}" />
	<input type="hidden" id="valorId" />

	<div id="perfilColaborador">
		<div data-js="foto" class="alterarFoto">
			<span data-js="foto" class="editar ion-camera invisivel"></span>
			<img data-js="foto" class="foto-colaborador" src="{{foto this.foto}}" alt="Foto" title="Clique para alterar" width="100" height="100" />
		</div>

		<div class="informacoes-colaborador">
			<h2 class="nome-colaborador">{{this.nome}}</h2>
			<div id="iconeValoresRecebido">
				{{#each this.valores}}
				<img src="{{iconeDoValor this}}" width="50" height="50" />
				{{/each}}
			</div>
		</div>
	</div>

	<div id="valoresRecebidosComComentarios">
		{{#each this.valores}}
		<section data-js="abrir-justificativa" data-valor-id="{{this.id}}">
			<div>
				<img src="{{iconeDoValor this}}" alt="{{this.nome}}" class="icone-valor" />
				<span class="nome-do-valor">{{this.nome}}</span>
			</div>

			<span class="quantidade-de-reconhecimentos">{{this.quantidade_de_reconhecimentos}}</span>
		</section>
		{{/each}}
	</div>

	<div data-js="justificativa" class="invisivel">
		<p>
			<label for="justificativa"></label>
			<textarea id="justificativa" cols="30" rows="5"></textarea>
		</p>

		<p>
			<button data-js="reconhecer">Confirmar</button>
			<button data-js="fecharJustificativa">Cancelar</button>
		</p>
	</div>
</div>