<div class="container">
	<input data-js="alterar-foto" type="file" class="invisivel" />

	<div class="conteudo">
		<input type="hidden" id="reconhecidoId" value="{{this.id}}" />

		<div id="perfilColaborador">
			<div data-js="foto" class="alterar-foto">
				<span data-js="foto" class="editar ion-camera invisivel"></span>
				<img data-js="foto" class="foto-colaborador" src="{{foto this.foto}}" alt="Foto" title="Clique para alterar" width="100" height="100" />
			</div>

			<div class="informacoes-colaborador">
				<h2 class="nome-colaborador">{{this.nome}}</h2>
			</div>
		</div>

		<div id="valoresRecebidosComComentarios">
			{{#each this.valores}}
			<section data-js="exibir-reconhecimentos" data-valor-id="{{this.id}}">
				<div class="valor">
					<img src="{{iconeDoValor this}}" alt="{{this.nome}}" class="icone-valor" />
				</div>

				<div class="quantidade-de-reconhecimentos">
					<span>{{this.quantidade_de_reconhecimentos}}</span>
				</div>
			</section>
			{{/each}}
		</div>
	</div>
</div>