<div class="ui inverted menu small icon menu">
	<a class="header item" data-js="pagina-inicial">
		<img src="../static/img/logo.png" alt="Aprecie.me">
	</a>

	<div class="item">
		<div class="ui transparent inverted left icon small input">
			<input type="text" id="colaborador" placeholder="Busque um colaborador" />
			<i class="search icon"></i>
		</div>
	</div>

	<div class="right menu">
		<a class="item">
			<div data-js="meu-perfil">
				<img src="{{ foto this.id }}" class="ui tiny circular image" />
				<span>{{this.nome}}</span>
			</div>
		</a>
		<a class="item" data-js="sair">
			<i class="power icon"></i>
			Sair
		</a>
	</div>
</div>