<div class="conteudo">
	<div class="logoInterna" data-js="pagina-inicial">
		<img src="static/img/simbolo-logo.png" alt="Aprecie.me" />
	</div>

	<div class="busca">
		<input type="text" id="colaborador" placeholder="Busque um colaborador" />
	</div>
	
	<nav>
		<div class="meuPerfil" data-js="meu-perfil">
			<img data-js="foto-miniatura" src="{{foto this.foto}}" />
			<span>{{this.nome}}  | </span>
		</div>

		<div class="sair" data-js="sair">
			<span>Sair</span>
		</div>
	
	</nav>


	


</div>	
