<section class="sidebar">	
	<div class="conteudo valores-digitho">
		<!-- <h2>Já conhece os valores da DigithoBrasil? Lê ai</h2> -->
		
		<ul>
			<li>
				<img src="static/img/alegria.png" alt="" />
				<div class="descricao alegria">
					<p>- Gostamos do que fazemos e como fazemos;</p>
					<p>- Buscamos proporcionar bem star e sensacao de plenitude as pessoas;</p>
					<p>- Contagiamos a todos com nosso entusiasmo e jeito de ser;</p>
				</div>
			</li>
	
			<li>
				<img src="static/img/colaboracao.png" alt="" />
				<div class="descricao colaboracao">
					<p>- Acreditamos na colaboração como a melhor forma de desenvolver soluções eficientes;</p>
					<p>- Privilegiamos o trabalho em equipe, sem heróis;</p>
					<p>- Praticamos a interação próxima em todos os relacionamentos;</p>
					<p>- Cultivamos o feedback como impulsionador de melhorias;</p>
				</div>
			</li>
			<li>
				<img src="static/img/excelencia.png" alt="" />
				<div class="descricao excelencia">
					<p>- Queremos ser e fazer melhor sempre;</p>
					<p>- Estimulamos a melhoria contínua em nossos colaboradores, clientes e fornecedores;</p>
					<p>- Nossas lideranças estimulam e apoiam para que as pessoas sejam melhores do que elas.</p>
				</div>
			</li>
			<li>
				<img src="static/img/inquietude.png" alt="" />
				<div class="descricao inquietude">
					<p>- Questionamos sempre para entender antes de executar;</p>
					<p>- Fugimos da acomodação, questionando sempre para melhorar continuamente;</p>
					<p>- Praticamos a criatividade e inovação em nossos processos, ações e soluções.</p>
				</div>
			</li>
			<li>
				<img src="static/img/responsabilidade.png" alt="" />
				<div class="descricao responsabilidade">
					<p>- Agimos como donos da empresa, sendo responsáveis pelo resultado coletivo;</p>
					<p>- Incentivamos a autonomia com responsabilidade;</p>
					<p>- Sem desculpas, preferimos ações e atitudes.</p>
				</div>
			</li>
			<li>
				<img src="static/img/resultado.png" alt="" />
				<div class="descricao resultado">
					<p>- Celebramos a conquista de cada objetivo alcançado;</p>
					<p>- Acreditamos que resultado é o que gera valor para os clientes;</p>
					<p>- Resultado é a melhor forma de nos avaliar.</p>
				</div>
			</li>
			<li>
				<img src="static/img/transparencia.png" alt="" />
				<div class="descricao transparencia">
					<p>- Agimos conforme nosso discurso;</p>
					<p>- Mantemos um relacionamento maneira clara e objetiva com nossos colaboradores, clientes e fornecedores;</p>
					<p>- Fornecemos as informações necessárias para que nossos colaboradores, clientes e fornecedores façam seu trabalho da melhor forma possível.</p>
				</div>
			</li>
		</ul>
	</div>
</div>

