{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8" />
	<title>Aprecie</title>

	<meta name="viewport" content="width=device-width,  height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<link rel="shortcut icon" href="{% static "favicon.ico" %}">
	<link rel="stylesheet" href="{% static "css/responsivo.css" %}">
	<link type="text/css" rel="stylesheet" href="{% static "css/estilo.css" %}" />	
	<link rel="stylesheet" href="{% static "css/ionicons.css" %}" />
	<link rel="stylesheet" href="{% static "app/lib/jquery-ui/themes/ui-lightness/jquery-ui.min.css" %}" />
	<link rel="stylesheet" href="{% static "app/lib/jquery-ui/themes/ui-lightness/theme.css" %}" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway"/>
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans"/>
</head>

<body class="body-login">
	<header data-js="toolbar" class="toolbar invisivel"></header>
	
	<main id="conteudo"></main>
	
	<div data-js="growl" class="growl fixo alinhado-ao-topo fundo-verde branco invisivel">
		<span></span>
	</div>

    <script data-main="{% static "app/app" %}" src="{% static "app/lib/requirejs/require.js" %}"></script> 
</body>
</html>
