{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>Aprecie.me</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,  height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no" />

	<link rel="shortcut icon" href="{% static "favicon.ico" %}">
	<link rel="stylesheet" href="{% static "lib/semantic/dist/semantic.min.css" %}">

	<style>
		body {
			background-image: url("/static/img/background.jpg");
		}
	</style>
</head>
<body class="body-login">
	<input id="ehDebug" type="hidden" value="{{ eh_debug }}" />

	<main id="conteudo"></main>

	<div data-js="growl" class="growl fixo alinhado-ao-topo fundo-verde branco invisivel"><span></span></div>

	<script src="{% static "app/configuracoesRequirejs.js" %}"></script>
	<script data-main="{% static "app/login.js" %}" src="{% static "lib/requirejs/require.js" %}"></script>
</body>
</html>